@font-face {
    font-family: 'Basier Circle';
    src: local('Basier Circle Circle SemiBold'), local('Basier-Circle-Circle-SemiBold'),
        url('BasierCircle-SemiBold.woff2') format('woff2'),
        url('BasierCircle-SemiBold.woff') format('woff'),
        url('BasierCircle-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

:root {
    --secondaryFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --primaryFont: 'Basier Circle';
    
    --lightText: rgb(255, 255, 255);
    --darkDetail: rgb(25, 28, 31);
    --blue: rgb(6, 102, 235);
    --gray: rgb(117, 128, 138);
    --header: rgb(241, 242, 244);
    --blurry-header: rgba(241, 242, 244, 0.8);
}

body {
    box-sizing: border-box;

    min-height: 100vh;
    min-width: 320px;

    margin: auto;
    padding: 0;
    
    display:flex;
    flex-direction: column;
    align-items: center;

    color: var(--darkDetail);
    background-color: rgb(243, 244, 245);
    font-family: var(--secondaryFont);
    font-size: 16px;

    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container-location-header, .container-nav {
    width: 100%;

    border-bottom: 1px solid rgb(223, 227, 231);
    background-color: var(--header);
    font-family: var(--secondaryFont);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-nav {
    position:sticky;
    position: -webkit-sticky;
    top: 0.01rem;
    background-color: var(--blurry-header);
}

.location-header {
    font-size: 12px;
    line-height: 16px;
    
    padding: 1.25rem;

    max-width: 1000px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 720px) {
    .location-header {
        grid-template-columns: 1fr auto auto;
    }
}

.location-header-txt {
    padding: 0 1.25rem;
}

.country-selector-box {
    padding: 0 1.25rem;
}

.country-selector {
    display: inline-block;

    color: var(--darkDetail);
    background-color: var(--lightText);

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.00625em;

    width: max-content;
    padding: .4em 1em;
    margin-right: 1em;

    border: none;
    border-radius: 10px;

    cursor:pointer;
}

.chevron-down {
    margin-left: .8em;
}

.primarycta {
    color: var(--lightText);
    background-color: var(--darkDetail);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.00625em;
    text-align: center;

    transition: background-color 300ms cubic-bezier(0.15, 0.5, 0.5, 1) 0s, color 300ms cubic-bezier(0.15, 0.5, 0.5, 1) 0s, opacity 300ms cubic-bezier(0.15, 0.5, 0.5, 1) 0s, box-shadow 200ms cubic-bezier(0.4, 0.3, 0.8, 0.6) 0s;

    max-width: fit-content;
    padding: .4em 1em;

    border-radius: 10px;
    cursor: pointer;

    text-decoration: none;
}

nav {
    max-width: 1000px;
    width: 100%;
}

.sticky-nav {
    display: flex;
    justify-content: space-between;

    backdrop-filter: blur(16px);
    padding: .6rem 1.25rem .6rem 0.3rem;

    margin-right: 1.2em;
}

#logo {
    padding: 0;
    margin: 0;
}

#icon-burger-menu {
    text-align: center;
    align-items: center;

    background-color: var(--lightText);
    color: var(--darkDetail);
    cursor: pointer;

    border-radius: 10px;
    padding: .6em .6em .3em .6em;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-left: 0;
    margin-right: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.hero-img {
    width: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.hero-container {
    margin: auto;
    padding: 1.25rem;

    display: grid;
    gap: 1rem;

    justify-items: center;
}

.hero-container h1 {
    font-family: var(--primaryFont);
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;

    margin: 0;
}

.hero-container p {
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

.section-container {
    flex-direction: column;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;

    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.section-title, .footer-card span {
    margin: 0;

    font-family: var(--primaryFont);
    font-weight: 600;
    color: var(--gray);
    font-size: 16px;
    line-height: 22px;
}

.section-headliner {
    margin: 1rem 0 0;

    font-family: var(--primaryFont);
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
}

.section-description {
    margin: 1rem 0 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.section-cta {
    margin-top: 2.5rem;
}

.sticky-cta {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.cards {
    display: grid;
    gap: 1.25rem;
}

.cards a:last-child {
    margin-bottom: 3rem;
}

.dark-card {
    color:var(--lightText);
}

.light-card {
    color:var(--darkDetail);
}

.light-card .card-cta {
    color: var(--blue);
}

.card-content {
    min-height: 60vh;

    border-radius: 20px;

    font-weight: 500;

    padding: 2rem;
    text-align: left;

    transition: transform 0.6s ease 0s;
    background-color: var(--lightText);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content h3 {
    margin: 0;
    font-family: var(--primaryFont);
    font-weight: 600;
    font-size: 24px;
    white-space: pre-wrap;
    line-height: 28px;
}

.card-content p {
    margin: 0.5rem 0 0 0;
    font-weight: 400;
}

.card-cta {
    display: flex;
    gap: .5em;
    align-items: center;
    border-radius: 20px;
    margin-left: -1rem;
    padding: 0.25rem 0.5rem 0.25rem 1rem;

    transition: all 0.3s ease 0s;

    margin-top: 1rem;
    margin-right: auto;
}

.footer-container {
    padding: 2.5rem 1rem;
}

footer {
    width: 100%;

    margin-top: 60px;
    background-color: var(--darkDetail);
    color: var(--lightText);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.footer-plans h2 {
    font-family: var(--primaryFont);
    color: var(--gray);
}

.footer-cards {
    list-style: none;
    padding: 0;
}

.footer-card {
    min-height: 100%;
    margin-bottom: 1.25rem;
    padding: 1.5rem 1rem;
    grid-template-rows: repeat(3, auto) 1fr;
    height: 100%;
}

.footer-card-svg {
    display: flex;
    justify-content: flex-end;

    color: var(--gray);
}

.footer-card span {
    color: var(--darkDetail);
}

.footer-card-description {
    margin: 0;
    color: var(--gray);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.footer-cta {
    background-color: var(--lightText);
    color: var(--darkDetail);
}

#card-1 {
    background-image: url(https://cdn.revolut.com/website/assets/retail/home-V3/Payments_Mobile.jpg);
    background-position: right bottom;
}


@media screen and (min-width: 719px){
    #card-1 {
        background-image: url(https://cdn.revolut.com/website/assets/retail/home-V3/Payments.jpg);
        background-position: center center;
    }
}


#card-2 {
    background-image: url(https://cdn.revolut.com/website/assets/retail/home-V3/Budgeting_Mobile.jpg);
    background-position: center center;
}

#card-3 {
    background-image: url(https://cdn.revolut.com/website/assets/retail/home-V3/US/Home_rewards_small_mobile.jpg);
    background-position: right bottom;
}

#card-4 {
    background-image: url(https://cdn.revolut.com/website/assets/retail/home-V3/Cards_Mobile.jpg);
    background-position: right bottom;
}

#card-5 {
    background-image: url(https://cdn.revolut.com/website/assets/retail/home-V3/Transfers_Mobile.jpg);
    background-position: right bottom;
}

#card-6 {
    background-image: url(https://cdn.revolut.com/website/assets/retail/home-V3/Currencies_Mobile.jpg);
    background-position: right bottom;
}
#card-7 {
    background-image: url(https://cdn.revolut.com/website/assets/retail/home-V3/US/Home_crypto_mobile_big.jpg);
    background-position: center center;
}

#card-8 {
    background-image: url(https://cdn.revolut.com/website/assets/retail/home-V3/US/Home_Vaults_Mobile_USD.jpg);
    background-position: center center;
}

#card-9 {
    background-image: url(https://cdn.revolut.com/website/assets/retail/home-V3/Shopper_Mobile.jpg);
    background-position: center center;
}

#card-10 {
    background-image: url(https://cdn.revolut.com/website/assets/retail/home-V3/CardSecurity_Mobile.jpg);
    background-position: center center;

}